body{
    height: 800px;
    width: 100%;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("image/background.jpg");
    cursor: crosshair;
}
#container{
    cursor: default;
}
#art{
    opacity: 0.9;
    border: 1px solid darkred;
    background-color: white;
    border: 1px solid;
    border-radius: 5%;
    margin-top: 25px;
    margin-left:30px;
}

/*font settting*/
#textBoard{
    height: 25px;
    width: 100px;
    position: absolute;
    top: 632px;
    left: 370px;
    border-radius: 7px;

}
.fontStyle {
    position: absolute;
    top: 659px;
    left: 370px;
    border-radius: 15px;
    
}
#Arial{
    width: 80px;
    top: 632px;
    left: 475px;
}
#Courier{
    width: 80px;
    top: 655px;
    left: 475px;
}
#Serif{
    width: 80px;
    top: 678px;
    left: 476px;
}
.fontSize {
    height: 18px;
    width: 50px;
    position: absolute;
    top: 665px;
    left: 370px;
    border-radius:7px;
    font-size: 8px;
    text-align: center;
}
#size20{
    top: 665px;
    left: 422px;
}
#size30{
    top: 683px;
    left: 370px;
}
#size40{
    top: 683px;
    left: 422px;
}

/*change pen style*/
.slider {
    -webkit-appearance: none;
    width: 11% !important;
    height: 12px;
    border-radius: 15px;
    background: white;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
#slideBar {
    position: absolute;
    top: 670px;
    left: 40px;
}

/*drwaing tools*/
.drawTool {
    height: 25px;
    width: 50px;
    position: absolute;
    top: 635px;
    left: 265px;
    border-radius: 15px;
    font-size: 15px;
    text-align: center;
    background-color: white;
}
#pen{
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(image/pen.svg);
}
#eraser{
    margin-top: 26px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(image/eraser.svg);
}
#text{
    height: 50px;
    width: 50px;
    top: 633px;
    left: 555px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(image/text.svg);
}
/*color setting*/
#colorBoard{
    height: 30px;
    width: 225px;
    position: absolute;
    top: 635px;
    left: 38px;
    float: left;
    border-radius: 0px;
}

/*draw shape*/
.geometric{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 633px;
    left: 650px;
    border-radius: 15px;
    background-color: white;
}
#circle{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(image/circle.svg);
}
#triangle{
    left: 703px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(image/triangle.svg);
}
#rectangle{
    left: 756px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(image/rectangle.svg);
}
#line{
    left: 809px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(image/line.png);
}
/*internet*/
.internetFunction{
    border-radius: 7px;
    font-size: 12px;
    text-align: center;
    background-color: whitesmoke;
}
#download {
    width: 220px;
    height: 20px;
    position: absolute;
    top: 660px;
    left: 900px;
    font-size: 15px;
    text-align: center;
    background-color: white;
}
#upload{
    width: 220px;
    position: absolute;
    top: 635px;
    left: 900px;
    border-radius: 7px;
    font-size: 12px;
    background-color: white;
}
#uploadImage{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 633px;
    left: 1130px;
    background-color: white;
    color: rgb(243, 243, 243);
    font-size: 15px;
    line-height: 50px;
    transition: background 0.3s;
    border-radius: 15px;
    box-shadow: none;
    border: 0;
    text-align: center;			
}

/*basic function*/
.function{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 633px;
    background-repeat: no-repeat;
    background-position: center;
}
#reset{
    left: 1380px;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
    background-position: center;
    border-radius: 50px;
}
#undo{
    left: 1220px;
    background-size: 90% 100%;
    background-color: white;
    background-image: url("image/undo.svg");
    border-radius: 50px;
}
#redo{
    left: 1280px;
    background-size: 65% 100%;
    background-color: white;
    background-image: url("image/redo.svg");
    border-radius: 50px;
}